@font-face {
	font-family: Ligconsolata;
	font-display: swap;
	src: url("../fonts/Ligconsolata-Bold.woff2") format("woff2"), url("../fonts/Ligconsolata-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Michroma;
	font-display: swap;
	src: url("../fonts/Michroma-Regular.woff2") format("woff2"), url("../fonts/Michroma-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Ligconsolata;
	font-display: swap;
	src: url("../fonts/Ligconsolata-Regular.woff2") format("woff2"), url("../fonts/Ligconsolata-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
