.button {
  &-blue {
    background-color: #3040d3;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    // clip-path: polygon(0% 0%, 100% 0, 100% 75%, 95% 100%, 0% 100%);
    width: fluid(202, 150);
    height: rem(40);
    transition: all 0.35s;

    &:hover {
      transform: translateY(-0.25em);
      box-shadow: 0 4px 12px 0 #262f81;
    }
  }

  &-opasity {
    // background-image: url("./../../img/button-border.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: fluid(202, 150);
    color: #3040d3;
    position: relative;
    border: 2px solid var(--accent);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.35s;

    &:hover {
      transform: translateY(-0.25em);
      box-shadow: 0 4px 12px 0 #262f81;
    }
  }

  &-white {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;
    background: #fff;
    color: #000;
    padding: rem(16) rem(26);
    transition: all 0.35s;

    &:hover {
      transform: translateY(-0.25em);
      box-shadow: 0 4px 12px 0 #262f81;
    }
  }
}
