.header {
  padding: rem(24) 0 rem(16);
  display: flex;
  flex-direction: column;
  row-gap: rem(16);

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  &__list {
    display: flex;
    column-gap: rem(24);
  }
}

.header__nav {
  @include tablet {
    display: none;
  }
}
