.information {
  & .title-2,
  .title-3,
  .title-4 {
    text-align: center;
  }

  &__cards {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 1244px;
    margin-top: rem(80);

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &-right {
      display: flex;
      align-items: center;
    }
  }

  &__card {
    padding: rem(24) rem(24) rem(130);
    max-width: rem(313);
    width: 100%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(24);
  }
}
