.title-1,
h1 {
  @include fluid-text(48, 24);
  font-family: var(--second-family);
  line-height: 150%;
  letter-spacing: 0.01em;
}

.title-2,
h2 {
  font-family: var(--second-family);
  font-weight: 400;
  @include fluid-text(40, 28);
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #3140d3;
}

.title-3,
h3 {
  font-family: var(--font-family);
  font-weight: 400;
  @include fluid-text(24, 16);
  line-height: 150%;
}

.title-4,
h4 {
  font-family: var(--second-family);
  font-weight: 400;
  @include fluid-text(21, 15);
  line-height: 150%;
}

.title-5,
h5 {
  font-family: var(--font-family);
  font-weight: 400;
  @include fluid-text(18, 14);
  line-height: 150%;
  color: #000;
}

.title-6,
h6 {
  font-family: var(--font-family);
  font-weight: 400;
  @include fluid-text(16, 14);
  line-height: 120%;
  color: #000;
}

.desc,
p {
  font-family: var(--second-family);
  font-weight: 400;
  @include fluid-text(21, 16);
  line-height: 150%;
}
